{% extends 'page.html' %}

{% macro formfield(id, label, type, placeholder) %}
<fieldset>
  <label class="coloured" for="{{ id }}">{{ label }}</label><input id="{{ id }}" name="{{ id }}" type="{{ type }}"
    placeholder="{{ placeholder }}" required/>
</fieldset>
{% endmacro %}



{%macro supportfor(id, label1, label2, type="radio") %}
<fieldset class="radio">
  <input type="{{ type }}" id="radio1" name="{{ id }}" value="{{ label1 }}">
  <label for="radio1">{{ label1 }}</label><br>
  <input type="{{ type }}" id="radio2" name="{{ id }}" value="{{ label1 }}" checked>
  <label for="radio2">{{ label2 }}</label><br>
</fieldset>
{% endmacro %}


{% block content %}

<form>
  {{ formfield("name", "Name", "text", "What should we call you?") }}
  {{ formfield("email", "Email", "email", "e.g. me@example.com") }}
  {{ supportfor("supportfor", "The support is for me", "The support is for someone else")}}
  <button class="signupbtn">Sign up</button>
</form>

<code><pre>{{ query | dump(2) }}</pre></code>
{% endblock %}