{% extends 'page.html' %}

{% macro formfield(id, label, type, placeholder) %}
<fieldset>
  <label class="coloured" for="{{ id }}">{{ label }}</label><input id="{{ id }}" name="{{ id }}" type="{{ type }}"
    placeholder="{{ placeholder }}" required maxlength="50" />
</fieldset>
{% endmacro %}

{%macro formradiofield(id, label1, label2, type="radio") %}
<fieldset class="radio">

  <label class="container">{{ label1 }}
    <input type="radio" name="{{ id }}" value="{{ label1 }}">
    <span class="checkmark"></span>
  </label>
  <label class="container">{{ label2 }}
    <input type="radio" checked="checked" name="{{ id }}" value="{{ label2 }}">
    <span class="checkmark"></span>
  </label>

</fieldset>
{% endmacro %}


{% block content %}

<form>
  {{ formfield("name", "Name", "text", "What should we call you?") }}
  {{ formfield("email", "Email", "email", "e.g. me@example.com") }}
  {{ formradiofield("supportfor", "The support is for me", "The support is for someone else")}}
  <button class="signupbtn">Sign up</button>
</form>

<code><pre>{{ query | dump(2) }}</pre></code>
{% endblock %}