<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equal Care Co-op (eccoo) Welcome</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <img src="/assets/journey.jpg" alt="Client journey image" class="headerimage">
  </header>
  <nav>
    <ol>
      {% for name, link in links %}
      <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <main role="main">
    {% block content %}
    {{ message }}
    {% endblock %}
  </main>
</body>

</html>