* {
  margin: 0;
  padding: 0;
}

body, input, button {
  color: #424747;
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;  
}

body > * {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-bottom: 20px;
}
nav ol {
  list-style: none;
  padding-bottom: 20px;
  display: flex;
}

nav ol > li {
  padding-right: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

.headerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}