* {
  margin: 0;
  padding: 0;
}

body, input, button {
  color: #424747;
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;  
}

body > * {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-bottom: 20px;
}

nav ol {
  list-style: none;
  padding-bottom: 20px;
  display: flex;
}

nav ol > li {
  padding-right: 1em;
}

a {
  color: #424747;
}
a:link { 
  text-decoration: none; 
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.headerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}